.expertise-section {
    padding-top: 20px; /* Adjust the padding as needed */
}

.expertise-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.expertise {
    margin-bottom: 10px; /* Space between Expertise link and the heading */
}

.expertise a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.expertise1 h4 {
    font-size: 20px;
    color: #666;
    margin: 0;
}
